* {
background-color: black;
margin: 0;
padding: 0;
border: 0;
gutter: 0;
border-collapse: collapse;
font-family: 'Raleway', sans-serif;
}
.mid {
  height: 45px;
  color: white;
  border-collapse: collapse;
  font-size: 18px;
  background-image: url("https://fachtnaroe.net/node/backStripe03.png");
  background-repeat: repeat-x;
  font-weight: bold;
}
.pr {
  padding: 0 2px 0;
}
.inner {
  height: auto;
  font-size: 16px;
  color: white;
  border-collapse: collapse;
  background: transparent;
  background-image: url("https://fachtnaroe.net/node/backStripe02.png");
  background-repeat: repeat-x;
  padding-left: 40px;
}
small {
  background: transparent;
}
.w100 {
width: 100%;  
} 
.hidden {
  display: none;
}
.right {
  float: right;
  background: transparent;
}
.nob {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: white;
  background: transparent;
} 
#bottomline {
  height: 50px;
  background-color: transparent;
  display: block;
}
#maintable {
  margin-bottom: 50px;
}
td{
  color: white;
  font-size: 14px;
}
.dottyBottom {
  padding-bottom: 8px;
  border-bottom: 1px dotted white;
}
.padonright {
  margin-right: 4px;
  padding-right: 4px;
}
.nowrap {
  white-space: nowrap;
}
.strong {
  font-weight: bold;
}
.barrier {
  background-color: #456;
  border-bottom: none;
  font-weight: bold;
  line-height: 20px;
}
